* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 500px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
}

/* 
#clock {
  font-size: 175px;
  width: 900px;
  margin: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
} */




.clock {
  position: relative;
  /* background-image: url('images/e-clock.png'); */
  width: 500px;
  height: 500px;
  background-size: contain;
}

.h-hand {
  position: absolute;
  left: 238px;
  top: 154px;
  /* background-image: url('images/hour.png'); */
  /* background-image: url(../img/clock.png); */
  height: 105px;
  width: 27px;
  background-size: 27px 105px;
  transform-origin: 50% 95%;
}

.m-hand {
  position: absolute;
  left: 240px;
  top: 80px;
  /* background-image: url('images/min.png'); */
  height: 180px;
  width: 20px;
  background-size: 20px 180px;
  transform-origin: 50% 95%;
}

.s-hand {
  position: absolute;
  left: 237px;
  top: 80px;
  /* background-image: url('images/sec-e.png'); */
  height: 180px;
  width: 30px;
  background-size: 30px 180px;
  transform-origin: 45% 95%;
}
